.search-input{
    width: 60vw;
    height: 5vh;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px;
    margin-bottom: 10px;
}

.search-input input {
    text-decoration: none;
    border: none;
    width: 90%;
    height: 100%;
    font-size: large;
}

.search-input input:focus {
    outline: none;
}